@using Website_Mobile_Sale_SE1063.Models.Entities
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<section>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add New Phone</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        EShopper - Phone
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Phone Name</label>
                                        <input class="form-control" placeholder="iPhone 7">
                                    </div>
                                    <div class="form-group">
                                        <label>Capacity (GB)</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>8</option>
                                            <option>16</option>
                                            <option>32</option>
                                            <option>64</option>
                                            <option>128</option>
                                            <option>256</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Screen Resolution</label>
                                        <input class="form-control" placeholder="1024x768">
                                    </div>
                                    <div class="form-group">
                                        <label>Platform</label>
                                        <select class="form-control">
                                            <option>iOS</option>
                                            <option>Android</option>
                                            <option>Windows Phone</option>
                                            <option>Symbian</option>
                                            <option>Tizen OS</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Price (VND)</label>
                                        <input class="form-control" placeholder="1024x768">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone Images</label>
                                        <input type="file">
                                    </div>
                                    <button type="submit" class="btn btn-default">Save to Database</button>
                                    <button type="reset" class="btn btn-default">Reset Form</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Color</label>
                                        <input class="form-control" placeholder="Black">
                                    </div>
                                    <div class="form-group">
                                        <label>RAM (GB)</label>
                                        <input class="form-control" placeholder="1">
                                    </div>
                                    <div class="form-group">
                                        <label>Quantity in Stock</label>
                                        <input class="form-control" placeholder="1">
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</section>